SLACK_WEBHOOK_URL=https://hooks.slack.com/services/XXX/YYY/ZZZ
WATSON_API_KEY=XXX
GDRIVE_URL=https://script.google.com/macros/s/XXX/exec
GDRIVE_KEY=XXXX
ROOT_URL=https://XXX.netlify.com/.netlify/functions/
